#s-012e6aa3-6686-4b56-9a41-d6af33eab4f8 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-012e6aa3-6686-4b56-9a41-d6af33eab4f8 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-012e6aa3-6686-4b56-9a41-d6af33eab4f8 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-012e6aa3-6686-4b56-9a41-d6af33eab4f8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-012e6aa3-6686-4b56-9a41-d6af33eab4f8 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-012e6aa3-6686-4b56-9a41-d6af33eab4f8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-012e6aa3-6686-4b56-9a41-d6af33eab4f8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}