#s-13405d85-18c9-4304-8a82-a74facbcb1b1 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13405d85-18c9-4304-8a82-a74facbcb1b1 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13405d85-18c9-4304-8a82-a74facbcb1b1 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13405d85-18c9-4304-8a82-a74facbcb1b1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13405d85-18c9-4304-8a82-a74facbcb1b1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13405d85-18c9-4304-8a82-a74facbcb1b1 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13405d85-18c9-4304-8a82-a74facbcb1b1 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13405d85-18c9-4304-8a82-a74facbcb1b1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13405d85-18c9-4304-8a82-a74facbcb1b1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13405d85-18c9-4304-8a82-a74facbcb1b1 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13405d85-18c9-4304-8a82-a74facbcb1b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}