#s-14dcb75c-9084-426c-bd5a-12b20171f160 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_3 {
  position: absolute;
  top: 94px;
  left: 4px;
  width: 1050px;
  height: 650px;
  background-color: #F4F8FB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_2 {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 1052px;
  height: 93px;
  background-color: #19283B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_1 {
  position: absolute;
  top: 201px;
  left: 185px;
  width: 655px;
  height: 446px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_1 {
  position: absolute;
  top: 134px;
  left: 192px;
  width: 481px;
  height: 68px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_1 span {
  color: #5B5A5A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #5B5A5A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_2 {
  position: absolute;
  top: 213px;
  left: 212px;
  width: 485px;
  height: 98px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_2 span {
  color: #5B5A5A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 12.0pt;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #5B5A5A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_1 {
  position: absolute;
  top: 566px;
  left: 688px;
  width: 102px;
  height: 35px;
  background-color: #19283B;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #19283B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #19283B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #19283B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #19283B;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_12 {
  position: absolute;
  top: 395px;
  left: 473px;
  width: 37px;
  height: 37px;
  background-color: #FF5D44;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF5D44;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF5D44;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF5D44;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF5D44;
  border-radius: 43px 43px 43px 43px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_4 {
  position: absolute;
  top: 423px;
  left: 488px;
  width: 55px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_2 {
  position: absolute;
  top: 566px;
  left: 233px;
  width: 100px;
  height: 33px;
  background-color: #536C8B;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #536C8B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #536C8B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #536C8B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #536C8B;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_3 {
  position: absolute;
  top: 143px;
  left: 734px;
  width: 102px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_3 span {
  color: #5B5A5A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 12.0pt;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #5B5A5A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_5 {
  position: absolute;
  top: 234px;
  left: 692px;
  width: 144px;
  height: 56px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_5 span {
  color: #5B5A5A;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #5B5A5A;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-14dcb75c-9084-426c-bd5a-12b20171f160 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}