#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Rectangle_1 {
  position: absolute;
  top: 123px;
  left: 185px;
  width: 655px;
  height: 524px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Text_1 {
  position: absolute;
  top: 188px;
  left: 238px;
  width: 481px;
  height: 68px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Text_1 span {
  color: #5B5A5A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #5B5A5A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Text_2 {
  position: absolute;
  top: 255px;
  left: 236px;
  width: 485px;
  height: 98px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Text_2 span {
  color: #5B5A5A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 12.0pt;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #5B5A5A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Button_1 {
  position: absolute;
  top: 566px;
  left: 688px;
  width: 100px;
  height: 33px;
  background-color: #58A6BC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #58A6BC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #58A6BC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #58A6BC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #58A6BC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Image_1 {
  position: absolute;
  top: 21px;
  left: 25px;
  width: 191px;
  height: 61px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Input_1 {
  position: absolute;
  top: 352px;
  left: 236px;
  padding-left: 5px;
  width: 546px;
  height: 184px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}