#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-200d4b74-0624-4030-9d4b-72e3f4dfe2b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}