#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Line_5 {
  rotation: 91.0;
  margin-left: 46px;
  margin-top: -48px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Line_6 {
  rotation: 91.0;
  margin-left: 46px;
  margin-top: -48px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Line_7 {
  rotation: 91.0;
  margin-left: 46px;
  margin-top: -48px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Line_8 {
  rotation: 91.0;
  margin-left: 46px;
  margin-top: -48px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20686c86-9628-4bc5-a1db-856bf91b2301 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}