#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2474af1c-d0f3-4f9a-8467-232c385be6be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}