#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FAFAFA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FAFAFA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FAFAFA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FAFAFA;
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3C5A96;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3C5A96;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3C5A96;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3C5A96;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 80px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFA357;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFA357;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFA357;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFA357;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 87px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2b6c133e-f4b0-43a6-a24d-0e2cc788782f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}