#s-2f63a12a-c202-4486-970c-bb61cb8be005 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2f63a12a-c202-4486-970c-bb61cb8be005 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2f63a12a-c202-4486-970c-bb61cb8be005 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-2f63a12a-c202-4486-970c-bb61cb8be005 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2f63a12a-c202-4486-970c-bb61cb8be005 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2f63a12a-c202-4486-970c-bb61cb8be005 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2f63a12a-c202-4486-970c-bb61cb8be005 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2f63a12a-c202-4486-970c-bb61cb8be005 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2f63a12a-c202-4486-970c-bb61cb8be005 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #19283B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #19283B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #19283B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #19283B;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 102px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-2f63a12a-c202-4486-970c-bb61cb8be005 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #536C8B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #536C8B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #536C8B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #536C8B;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 100px;
  height: 33px;
  -ms-transform: rotate(0.0deg);
}
#s-2f63a12a-c202-4486-970c-bb61cb8be005 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}