#s-2ffe54d8-2627-4756-912a-2cd89884adaf #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ffe54d8-2627-4756-912a-2cd89884adaf #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ffe54d8-2627-4756-912a-2cd89884adaf #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ffe54d8-2627-4756-912a-2cd89884adaf #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ffe54d8-2627-4756-912a-2cd89884adaf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ffe54d8-2627-4756-912a-2cd89884adaf #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2ffe54d8-2627-4756-912a-2cd89884adaf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}