#s-345d884e-c6dc-49ac-9ab6-4a893b5ed377 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-345d884e-c6dc-49ac-9ab6-4a893b5ed377 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-345d884e-c6dc-49ac-9ab6-4a893b5ed377 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-345d884e-c6dc-49ac-9ab6-4a893b5ed377 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-345d884e-c6dc-49ac-9ab6-4a893b5ed377 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}