#s-42e25225-93d5-48b2-bd7c-39ab8630272f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-42e25225-93d5-48b2-bd7c-39ab8630272f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-42e25225-93d5-48b2-bd7c-39ab8630272f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-42e25225-93d5-48b2-bd7c-39ab8630272f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-42e25225-93d5-48b2-bd7c-39ab8630272f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}