#s-4701de58-790f-4065-ac2f-89ae1230ec99 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4701de58-790f-4065-ac2f-89ae1230ec99 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4701de58-790f-4065-ac2f-89ae1230ec99 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4701de58-790f-4065-ac2f-89ae1230ec99 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4701de58-790f-4065-ac2f-89ae1230ec99 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4701de58-790f-4065-ac2f-89ae1230ec99 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}