#s-4cc00a90-3c19-49c7-8887-a81a65fe5197 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cc00a90-3c19-49c7-8887-a81a65fe5197 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cc00a90-3c19-49c7-8887-a81a65fe5197 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cc00a90-3c19-49c7-8887-a81a65fe5197 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cc00a90-3c19-49c7-8887-a81a65fe5197 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cc00a90-3c19-49c7-8887-a81a65fe5197 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cc00a90-3c19-49c7-8887-a81a65fe5197 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}