#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Image_2 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 231px;
  height: 91px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_7 {
  position: absolute;
  top: -1px;
  left: 231px;
  width: 789px;
  height: 86px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_7 span {
  color: #EEEEEE;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #EEEEEE;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_9 {
  position: absolute;
  top: 92px;
  left: 231px;
  width: 789px;
  height: 672px;
  background-color: #FAFAFA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FAFAFA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FAFAFA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FAFAFA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FAFAFA;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_8 {
  position: absolute;
  top: 93px;
  left: 0px;
  width: 228px;
  height: 674px;
  background-color: #19283B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Text_1 {
  position: absolute;
  top: 131px;
  left: 260px;
  width: 403px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Text_22 {
  position: absolute;
  top: 12px;
  left: 270px;
  width: 116px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Text_22 span {
  color: #C4C4C4;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #C4C4C4;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}