#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-764dc5f3-6dfb-4ff4-a828-50190cd4f489 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}