#s-76b9786b-952d-46a8-8237-18e1ae72160d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Image_2 {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 231px;
  height: 91px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_9 {
  position: absolute;
  top: 92px;
  left: 233px;
  width: 784px;
  height: 672px;
  background-color: #FAFAFA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FAFAFA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FAFAFA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FAFAFA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FAFAFA;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_8 {
  position: absolute;
  top: 93px;
  left: 1px;
  width: 231px;
  height: 674px;
  background-color: #19283B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_25 {
  position: absolute;
  top: 651px;
  left: 10px;
  width: 130px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_25 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_25 span#rtr-s-Text_25_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_27 {
  position: absolute;
  top: 680px;
  left: 10px;
  width: 73px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_27 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_27 span#rtr-s-Text_27_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_29 {
  position: absolute;
  top: 621px;
  left: 10px;
  width: 73px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_29 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_29 span#rtr-s-Text_29_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Image_5 {
  position: absolute;
  top: 709px;
  left: 17px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_30 {
  position: absolute;
  top: 709px;
  left: 45px;
  width: 146px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_30 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_30 span#rtr-s-Text_30_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_32 {
  position: absolute;
  top: 103px;
  left: 58px;
  width: 62px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_32 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_32 span#rtr-s-Text_32_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_33 {
  position: absolute;
  top: 146px;
  left: 58px;
  width: 62px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_33 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_33 span#rtr-s-Text_33_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_34 {
  position: absolute;
  top: 187px;
  left: 58px;
  width: 72px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_34 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_34 span#rtr-s-Text_34_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_35 {
  position: absolute;
  top: 266px;
  left: 58px;
  width: 62px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_35 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_35 span#rtr-s-Text_35_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Image_11 {
  position: absolute;
  top: 180px;
  left: 16px;
  width: 30px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Image_12 {
  position: absolute;
  top: 224px;
  left: 14px;
  width: 33px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Image_14 {
  position: absolute;
  top: 145px;
  left: 17px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Image_1 {
  position: absolute;
  top: 101px;
  left: 13px;
  width: 31px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Image_3 {
  position: absolute;
  top: 262px;
  left: 15px;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_7 {
  position: absolute;
  top: -1px;
  left: 231px;
  width: 789px;
  height: 86px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_7 span {
  color: #EEEEEE;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #EEEEEE;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_22 {
  position: absolute;
  top: 12px;
  left: 270px;
  width: 116px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_22 span {
  color: #5F7175;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_22 span#rtr-s-Text_22_0 {
  color: #5F7175;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_23 {
  position: absolute;
  top: 42px;
  left: 270px;
  width: 255px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_23 span {
  color: #C4C4C4;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_23 span#rtr-s-Text_23_0 {
  color: #C4C4C4;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_24 {
  position: absolute;
  top: 45px;
  left: 529px;
  width: 58px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_24 span {
  color: #C4C4C4;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_24 span#rtr-s-Text_24_0 {
  color: #C4C4C4;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_31 {
  position: absolute;
  top: 229px;
  left: 60px;
  width: 150px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Text_31 span#rtr-s-Text_31_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_1 {
  position: absolute;
  top: 260px;
  left: 2px;
  width: 227px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_2 {
  position: absolute;
  top: 219px;
  left: 1px;
  width: 227px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_3 {
  position: absolute;
  top: 178px;
  left: 0px;
  width: 227px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_4 {
  position: absolute;
  top: 137px;
  left: 1px;
  width: 227px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_5 {
  position: absolute;
  top: 95px;
  left: 0px;
  width: 227px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-76b9786b-952d-46a8-8237-18e1ae72160d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}