#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}