#s-79f8d72a-61d1-4291-8e9e-001151b6d624 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_5 {
  position: absolute;
  top: 54px;
  left: 10px;
  width: 114px;
  height: 726px;
  background-color: #19283B;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #19283B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #19283B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #19283B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #19283B;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_7 {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 113px;
  height: 41px;
  background-color: #EE515C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EE515C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EE515C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EE515C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EE515C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_8 {
  position: absolute;
  top: 56px;
  left: 127px;
  width: 904px;
  height: 729px;
  background-color: #F4F8FB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_9 {
  position: absolute;
  top: 10px;
  left: 127px;
  width: 902px;
  height: 45px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_8 {
  position: absolute;
  top: 70px;
  left: 46px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_8 span {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_9 {
  position: absolute;
  top: 105px;
  left: 46px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_9 span {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_10 {
  position: absolute;
  top: 138px;
  left: 46px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_10 span {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Image_4 {
  position: absolute;
  top: 102px;
  left: 18px;
  width: 21px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Image_5 {
  position: absolute;
  top: 68px;
  left: 18px;
  width: 20px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_11 {
  position: absolute;
  top: 69px;
  left: 155px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_11 span {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_10 {
  position: absolute;
  top: 105px;
  left: 155px;
  width: 666px;
  height: 543px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -5px 0px 5px 0px #F0F0F0;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_12 {
  position: absolute;
  top: 124px;
  left: 192px;
  width: 104px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_12 span {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Line_3 {
  position: absolute;
  top: 175px;
  left: 192px;
  width: 487px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_13 {
  position: absolute;
  top: 249px;
  left: 190px;
  width: 136px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_13 span {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #50596A;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Image_6 {
  position: absolute;
  top: 139px;
  left: 18px;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Line_4 {
  position: absolute;
  top: 319px;
  left: 191px;
  width: 487px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_14 {
  position: absolute;
  top: 250px;
  left: 300px;
  width: 171px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_14 span {
  color: #C4C4C4;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #C4C4C4;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-79f8d72a-61d1-4291-8e9e-001151b6d624 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}