#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}