#s-804d6b69-a55a-48a1-a364-e929e74a70c4 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Rectangle_2 {
  position: absolute;
  top: 123px;
  left: 185px;
  width: 655px;
  height: 524px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -10px 0px 7px 2px #EBECED;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_1 {
  position: absolute;
  top: 154px;
  left: 366px;
  width: 268px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Open Sans',Arial;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_2 {
  position: absolute;
  top: 252px;
  left: 202px;
  width: 595px;
  height: 90px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Open Sans',Arial;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_1 {
  position: absolute;
  top: 486px;
  left: 378px;
  width: 62px;
  height: 23px;
  background-color: #58A6BC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #58A6BC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #58A6BC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #58A6BC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #58A6BC;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Open Sans',Arial;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_2 {
  position: absolute;
  top: 486px;
  left: 557px;
  width: 62px;
  height: 23px;
  background-color: #58A6BC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #58A6BC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #58A6BC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #58A6BC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #58A6BC;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Open Sans',Arial;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Image_1 {
  position: absolute;
  top: 21px;
  left: 25px;
  width: 191px;
  height: 61px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}