#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #58A6BC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #58A6BC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #58A6BC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #58A6BC;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #58A6BC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #58A6BC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #58A6BC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #58A6BC;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-804d6b69-a55a-48a1-a364-e929e74a70c4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}