#s-80a53715-129f-440f-94db-2870764abe55 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #85969A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #85969A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #85969A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #85969A;
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #58A6BC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #58A6BC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #58A6BC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #58A6BC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 80px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F78B30;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F78B30;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F78B30;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F78B30;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 80px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #84C5D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #84C5D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #84C5D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #84C5D7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 80px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFA357;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFA357;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFA357;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFA357;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 87px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5B5A5A;
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5B5A5A;
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F78B30;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F78B30;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F78B30;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F78B30;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 100px;
  height: 33px;
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-80a53715-129f-440f-94db-2870764abe55 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}