#s-890fb128-3237-4681-8c8a-60625df3de2c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-890fb128-3237-4681-8c8a-60625df3de2c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-890fb128-3237-4681-8c8a-60625df3de2c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-890fb128-3237-4681-8c8a-60625df3de2c #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #58A6BC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #58A6BC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #58A6BC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #58A6BC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 100px;
  height: 33px;
  -ms-transform: rotate(0.0deg);
}
#s-890fb128-3237-4681-8c8a-60625df3de2c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-890fb128-3237-4681-8c8a-60625df3de2c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}