#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd8f63-918e-431c-8e0f-522d95fb1741 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}