#s-9015ba62-51aa-4ca5-9562-7a4d7756b57c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9015ba62-51aa-4ca5-9562-7a4d7756b57c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9015ba62-51aa-4ca5-9562-7a4d7756b57c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9015ba62-51aa-4ca5-9562-7a4d7756b57c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9015ba62-51aa-4ca5-9562-7a4d7756b57c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9015ba62-51aa-4ca5-9562-7a4d7756b57c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9015ba62-51aa-4ca5-9562-7a4d7756b57c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9015ba62-51aa-4ca5-9562-7a4d7756b57c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}