#s-9d3ecb3c-a9fd-4673-9793-ba0982d7b634 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d3ecb3c-a9fd-4673-9793-ba0982d7b634 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d3ecb3c-a9fd-4673-9793-ba0982d7b634 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d3ecb3c-a9fd-4673-9793-ba0982d7b634 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d3ecb3c-a9fd-4673-9793-ba0982d7b634 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d3ecb3c-a9fd-4673-9793-ba0982d7b634 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d3ecb3c-a9fd-4673-9793-ba0982d7b634 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d3ecb3c-a9fd-4673-9793-ba0982d7b634 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}