#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b275c864-c41a-4ac8-b286-b1c39740809f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}