#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}