#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #85969A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #85969A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #85969A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #85969A;
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F78B30;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F78B30;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F78B30;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F78B30;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 100px;
  height: 33px;
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 106px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #58A6BC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #58A6BC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #58A6BC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #58A6BC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 80px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5B5A5A;
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5B5A5A;
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bcac2f7f-86da-4fd6-9c6b-5fb871ff4707 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}