#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_3 {
  position: absolute;
  top: 94px;
  left: 4px;
  width: 1050px;
  height: 650px;
  background-color: #F4F8FB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_2 {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 1052px;
  height: 93px;
  background-color: #19283B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_1 {
  position: absolute;
  top: 201px;
  left: 185px;
  width: 655px;
  height: 446px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_4 {
  position: absolute;
  top: 423px;
  left: 488px;
  width: 55px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_1 {
  position: absolute;
  top: 392px;
  left: 321px;
  width: 372px;
  height: 114px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_2 {
  position: absolute;
  top: 228px;
  left: 365px;
  width: 302px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}