#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}