#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cddb38da-7f27-4c5c-b52e-a0f514d991a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}