#s-cedf1a6c-1f8c-4612-9b2b-8568286e8ab4 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedf1a6c-1f8c-4612-9b2b-8568286e8ab4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedf1a6c-1f8c-4612-9b2b-8568286e8ab4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedf1a6c-1f8c-4612-9b2b-8568286e8ab4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedf1a6c-1f8c-4612-9b2b-8568286e8ab4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedf1a6c-1f8c-4612-9b2b-8568286e8ab4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedf1a6c-1f8c-4612-9b2b-8568286e8ab4 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedf1a6c-1f8c-4612-9b2b-8568286e8ab4 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cedf1a6c-1f8c-4612-9b2b-8568286e8ab4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}