#s-e3d426d4-5535-4e5c-b92c-0e3a64c91ebe #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3d426d4-5535-4e5c-b92c-0e3a64c91ebe #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3d426d4-5535-4e5c-b92c-0e3a64c91ebe #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3d426d4-5535-4e5c-b92c-0e3a64c91ebe #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3d426d4-5535-4e5c-b92c-0e3a64c91ebe #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3d426d4-5535-4e5c-b92c-0e3a64c91ebe #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3d426d4-5535-4e5c-b92c-0e3a64c91ebe #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3d426d4-5535-4e5c-b92c-0e3a64c91ebe #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3d426d4-5535-4e5c-b92c-0e3a64c91ebe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}