.button {
  font-family: OpenSans-Light, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 7px;
  width: 300px;
  height: 50px;
  border: none;
  box-shadow: none;
}

.profile-button {
  display: flex;
  padding: 10px;
  padding-left: 5px;
  width: 70%;
  color: #50596A;
  background-color: #19283B;
  border: none;
}

.profile-icon {
  width: 21px;
  height: 26px;
  left: 0;
  margin: 0;
  margin-right: 5px;
}

.document-icon {
  width: 21px;
  height: 26px;
  align-items: center;
}

.user-ja .user-nein {
  border: none;
}

.user-save-button {
  font-family: OpenSans, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #6D78D8;
  border: none;
}

.document-button {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.save {
  bottom: 10px;
  right: 10px;
  top: 280px;
}

.next-btn {
  width: 108px;
  height: 41px;
  background-color: #19283B;
  border: 1px solid #19283B;
  border-radius: 4px;
}

.previous-btn {
  width: 108px;
  height: 41px;
  color: #FFFFFF;
  background-color: #536C8B;
  border: 1px solid #536C8B;
}

.red-btn {
  width: 81px;
  height: 81px;
  color: #FFFFFF;
  background-color: #FF5D44;
  border: 2px solid #FF5D44;
  border-radius: 42px;
}

.signin-btn {
  width: 258px;
  height: 46px;
  color: #FFFFFF;
  background-color: #58A6BC;
  border: 2px solid #58A6BC;
}

.button-signin {
  background-color: #129793;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.create-btn {
  background-color: #FF7260;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.create {
  margin-top: 20px;
  text-align: center;
}

.btn-secondary {
  width: 58px;
  height: 20px;
  color: #555555;
  background-color: #FFFFFF;
  border: 1px solid#CCCCCC;
  border-radius: 2px;
}

.dropdown-item {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
