.text {
  text-decoration: none;
  color: #5B5A5A;
}

.welcome {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 50px;
  font-family: OpenSans-Light, sans-serif;
  width: 266px;
  height: 71px;
  color: #5B5A5A;
}

.forgot.create {
  width: 90px;
  height: 21px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 11px;
  color: #5B5A5A;
}

.forgot {
  text-align: right;
  float: right;
  padding: 20px 0 20px 20px;
  align-self: stretch;
}

/* .create-cta {
  text-align: center;
  margin-left: 75px;
  color: #EBECED;
} */

.question-text {
  width: 485px;
  height: 98px;
  font-family: OpenSans-Light, sans-serif;
  font-size: 16px;
  color: #5B5A5A;
  text-align: left;
}

.it-card-item {
  font-size: 13px;
  font-family: OpenSans-Regular,sans-serif;
  color: #50596A;
}

.interest-item-card {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 13px;
  text-align: center;
  color: #333333;
  margin: 4px 12px;
  min-width: 44px;
  height: 28px;
}

.interest-item, .practice-item {
  background-color: #EEEEEE;
  padding-left: 8px;
  padding-right: 7px;
  line-height: 23px;
}

.interest-card {
  padding: 0px 0px 2px 16px;
  border-left: 1px solid black;
  margin-left: 16px;
}

.timer {
  text-align: right;
}

.end-heading {
  width: 87px;
  height: 98px;
  font-family: OpenSans-Semibold;
  font-size: 21px;
  text-align: center;
  color: #5B5A5A;
}

.exit-text {
  width: 470px;
  height: 175px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #333333;
}

.left-edit {
  margin-left: 30px;
  position: relative;
  right: -17%;
  display: block;
}

.right-edit {
  margin-right: 10px;
  position: relative;
  right: -17%;
  display: block;
}

.interest-input, .practice-input {
  max-width: 65px;
}

.join {
  font-family: OpenSans-Semibold;
  font-size: 21px;
  text-align: center;
  color: #5B5A5A;
}

.privacy-text {
  width: 485px;
  height: 195px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #333333;
}

.email-cta {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #333333;
}

.email-cta-input {
  background: transparent;
  border: none;
  padding: 2px 5px;
}

.email-line {
  width: 487px;
  height: 0px;
  border-top: 1px solid #404040;
}

.bye.salutation {
  text-align: center;
}

.user-area-background {
  max-width: 904px;
  max-height: 729px;
  background-color: #F4F8FB;
}

.card-title {
  font-family: OpenSans-Regular,sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #50596A;
  margin-bottom: .75rem;
  padding-left: 7px;
}

.detail-title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 13px;
  color: #50596A;
}

.details-card {
  display: flex;
  flex-direction: row;
}

.title-available {
  margin: 10px;
}

.invite-header {
  font-family: OpenSans-Bold;
  font-size: 16px;
  color: #50596A;
}

.invite-email.invite-social {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 13px;
  color: #50596A;
}

.invite-email-line.invite-social-line {
  max-width: 487px;
  height: 0px;
  border-top: 1px solid #404040;
}

.university-statistics-result {
  flex-direction: row;
  margin-right: 60px;
  margin-left: 40px;
  color: #759ACC;
  font-size: 13px;
}

.university-statistics-title {
  color: #50596A;
  margin-right: 60px;
  margin-left: 30px;
  flex-direction: row;
  font-family: OpenSans-Italic, sans-serif;
}

#stat-edit {
  text-align: right;
}

.bio-header {
  color: #50596A;
}

.bio-summary {
  color: #C4C4C4;
  font-size: 13px;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left-aside {
  width: 10%;
  background: #19283B;
}

.logo {
  height: 50px;
  width: 100%;
  background: #EE515C;
}

.main {
  background: #F4F8FB;
  width: 90%;
  height: 100%;
}

.header-bar {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
}

.main-section {
  background: #FFFFFF;
  width: 100%;
  margin: 20px 0 20px;
  height: 100px;
}

.content-section {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.right-section {
  width: 70%;
}

.profile-preferences {
  width: 40%;
  display: flex;
  flex-direction: row;
}
